<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
<br/>
   <p style="white-space: pre-wrap;">{{getScene.message}}</p>

    <div>
      <div v-for="creature in getScene.creatureList">
          <button @click="chooseTarget(creature)">{{creature.name}}</button>
      </div>

  </div>

    <div>
        <div v-for="entity in getScene.entityList">
            {{entity.name}}
            <button v-for="choice in entity.interactList" @click="interact(choice)">{{choice.name}}</button>
        </div>

    </div>
    <div v-if="getBattle!=null">
        <button @click="meleeAttack">meleeAttack</button>

    </div>
    <div v-for="row in getLogs">
      {{row}}

  </div>
</div>

<script src="../creature/creature.js"></script>
<script src="../scene/sceneContoller.js"></script>
<script src="../battle/battleController.js"></script>
<script src="../log/logController.js"></script>
<script src="../config/config.js"></script>
<script src="../scene//scene.js"></script>
<script src="../entity/entity.js"></script>
<script src="../creature//logic/deadlyAttack.js"></script>
<script src="../battle/battle.js"></script>
<script src="../creature/logic.js"></script>
<script src="../action/action.js"></script>
<script src="../action/BasicAttack.js"></script>
<script src="../action//Interact.js"></script>
<script src="../tool/d20.js"></script>
<script src="../tool/ProxyMan.js"></script>
<script src="../av/test/scene1.js"></script>
<script src="../av/test/scene2.js"></script>
<script src="../av/test/scene13.js"></script>
<script src="../startGame.js"></script>
<script>
   // console.log(creatures);
  const { createApp } = Vue
  const {ref,computed} =Vue
  var battle=new Battle();

  var app=createApp({
    setup(){
      const sceneController = ref(Config.getSceneController())
      Config.setSceneController(sceneController.value)
   
      const getScene=computed(()=>sceneController.value.scene)


      const battleController = ref(Config.getBattleController())
      Config.setBattleController(battleController.value)   
      const getBattle=computed(()=>battleController.value.battle)

      const logController = ref(Config.getLogController())
      Config.setLogController(logController.value)   
      const getLogs=computed(()=>logController.value.logs)
     // sceneContoller.value.scene={}
      return{ getScene,sceneController,getBattle,logController,getLogs}
    },
    data() {
      return {
        message: 'battle',
        target:ref(null)
        //creaturese:creatures
      }
    },
    methods: {
        chooseTarget(target){
          this.target=target
        },
        meleeAttack(){
            player.action["meleeAttack"].target=this.target;
            player.action["meleeAttack"].use();
            console.log(config)
            //Config.getBattleController().battle.battleNext();
        },
        interact(choice){
            choice.use();
        }
    },
  }).mount('#app')
  console.log(app.sceneController.scene)
 
</script>